CLOUDINARY_CLOUD_NAME="your_cloud_name"
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=verify-full&channel_binding=require"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="TEDxSMIU <noreply@yourdomain.com>"
ADMIN_NOTIFICATION_EMAIL="your-email@gmail.com"